<mat-toolbar style="background-color: '#cbd5e0'; color: 'black'">
    <span>ABOUT</span>
</mat-toolbar>
<div class="aboutcontent">
    It took me almost 4 hours, mostly research and angular material doesnt work right when styling it so it was a struggle.
    It was also confusing because after finishing up part of the project where I plotted individual graphs, all it gave me 
    was a straight line meaning all times values were same.
    Also, I am plotting this by associating index i time value with index i "value" in the json so I was not sure if that
    was the right way but I never got an answer back from Manuel or the team. 
</div>